version: '3.9'

volumes:
  TWITTER_DATA:
  ANALYTICS_DATA:

networks:
  TWITTER_BACKEND:

services:
  twitter_db:
    image: "postgres:13-alpine"
    restart: "no"
    ports:
      - "5314:5432"
    environment:
      POSTGRES_USER: twitter_api
      POSTGRES_PASSWORD: 123456
      PGPASSWORD: 123456
      POSTGRES_DB: twitter_api
      PGDATA: /db_data
    volumes:
      - TWITTER_DATA:/db_data
    networks:
      - TWITTER_BACKEND


  analytics_db:
    image: "postgres:13-alpine"
    restart: "no"
    environment:
      POSTGRES_USER: analytics_api
      POSTGRES_PASSWORD: 123456
      PGPASSWORD: 123456
      POSTGRES_DB: analytics_api
      PGDATA: /db_data
    volumes:
      - ANALYTICS_DATA:/db_data
    networks:
      - TWITTER_BACKEND

  analytics:
    build:
        context: .
        dockerfile: ./analytics/Dockerfile
    restart: "no"
    volumes:
      - ./analytics:/code
    environment:
      DB_URL: "postgresql://analytics_api:123456@analytics_db:5432/analytics_api"
      ANALYTICS_PORT: 50051
    depends_on:
      - analytics_db
    networks:
      - TWITTER_BACKEND

  twitter_api:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: "no"
    volumes:
      - ./twitter_api:/code/twitter_api/
      - ./logs:/code/logs
    environment:
      ENVIRONMENT: dev
      DB_URL: postgresql://twitter_api:123456@twitter_db:5432/twitter_api
      ANALYTICS_HOST: analytics
      ANALYTICS_PORT: 50051
      SECRET_KEY: super_secret_key
      JWT_SECRET: super_jwt_secret_key
    depends_on:
      - twitter_db
      - analytics
    networks:
      - TWITTER_BACKEND
    ports:
      - "8000:8000"

