fastapi
pydantic
pydantic-settings
aiohttp
sentry-asgi
bcrypt
python-jose
typer
rich
psycopg2-binary
sqlalchemy
sqlalchemy-filters
sqlalchemy-utils
alembic
grpcio-tools
pytest
faker
pytz
factory-boy


